@import'../base/variables';
@import'../base/extend';
@import'../base/mixins';
@import'../base/listas';

/*Estilo section 1 index*/

.contenedor-principal {

    text-align: center;
    background-color: map-get($map: $colores, $key:oscuro );
    object-fit: cover;
    padding: 2em;
    margin: 3.8em 1em;
     border: 4px solid map-get($map: $colores, $key:primario );
   
    .h-principal-index{
        text-align: center;
        font-size: 2.5em;
        font-family: "PT Serif";
        color: map-get($map: $colores, $key:claro );
        transition: all 1s;
        &:hover{
            color: map-get($map: $colores, $key:primario );
            
        }
    }
    .p-titulo{
        font-size: 1em;
        font-family: "Macondo", cursive;
        color: map-get($map: $colores, $key:claro2 );
        transition: all 1s;
        &:hover{
            color: map-get($map: $colores, $key:secundario );
            
        }
    }
   } 
 /*ESTILO DE LOGO WSP */


.wsp-logo { 
    
   
    @include mwh(1em auto, 5%,auto);
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 80%;
    transition: all 5s;  
    &:hover{
        transform: rotateY(360deg);
        cursor: help; 
    }
}


/*Fin de estilo de sección 1 *//**************/


/* Comienzo de estilo de sección 2*/

.titulo-productos{
    text-align: center;
    padding: 1em;
    font-family: $fuente-titulo;
    font-size: 2em;
    margin-top: -1.5em;
    @include colores(#000,#fff,5px double $color-secundario-kanki,all 2s);
    &:hover{
        color:map-get($map: $colores, $key:primario ) ;
        background-color: map-get($map: $colores, $key:footer );
        border: 5px solid #fff;
        outline: 5px solid #000;
    }
}

/*ESTILO IMAGENES DE CAMISETAS de carrousel*/

.carrousel-estilo{
    background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: map-get($map: $colores, $key:footer );
}

.sec-camisetas{
    width: 50%;
  
    border: 2px solid map-get($map: $colores, $key:oscuro );
   
}

.estilo-texto-img {
    color:map-get($map: $colores, $key:claro );
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cami-boc{
    color: lightblue;
}
.cami-riv{
    color: salmon;
}

.cami-die{
    color: rgb(39, 129, 219);
}

/*ESTILO DE REDIRECCIONADOR A CATALAGO.HTML*/

.productos-link-a-catalogo{
  
   
    margin: 1em;
    font-size: 1em;
    font-family: $fuente-titulo;
    @include colores(#fff,#000,2px solid #000,all 1s);
    border-radius: 50px;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: all 1s;

    &:hover{
        text-align: center;
        margin: 1em;
        font-size: 1em;
        font-family: $fuente-titulo;
        @include colores($color-principal-kanki, #fff,2px solid #000,all 1s);
        border-radius: 50px;
    }

    a {
        text-decoration: none;
        color: $color-principal-kanki;
        background:none;
         border: none;
        
        margin-left: .2em;
        display: inline-block;
        transition: all .5s;
         &:hover{
            color: map-get($map: $colores, $key:oscuro );
            border: none;}
    }
  

}

/* Fin de estilo de sección 2*//*************************/
/* Comienzo de estilo de sección 3*/
/*ESTILO DE CONTENEDOR DE PARTE ENVIO*/
.iframe-div{
    
    display: flex;
    width: 100%;
    margin-bottom: 2em;
   
    

}
/*ESTILO TEXTO ENVIO*/

.envios-titulo{
  
    text-align: center;
    font-size: 1.4em;
    font-family: $fuente-titulo;
    margin-top: 3em;
    transition: all .5s;
    &:hover{
        color: map-get($map: $colores, $key:primario );
        transform: translateX(-.5em); 
    }
   
   
}

.envios-texto{
    color: map-get($map: $colores, $key:footer );
    margin-top: 2em;

}

.acordeon-estilo{
    margin: 4em;
}

.boton-acordeon{
  @include colores(#000, $color-principal-kanki,2px solid #000,all 1s)
      
  
}
.envios-container{
    margin: 1em;
}
/* Fin de estilo de sección 3*/